In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Sort the CSV you saved creaded in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,2020-04-14 04:46:25,-8.93,125.41,69.57,64,91,2.93
1,1,Ushuaia,AR,2020-04-14 04:46:25,-54.80,-68.30,46.40,65,75,9.17
2,2,Hilo,US,2020-04-14 04:46:26,19.73,-155.09,78.80,74,20,10.29
3,3,Rikitea,PF,2020-04-14 04:42:39,-23.12,-134.97,77.02,69,81,12.01
4,4,Negara,ID,2020-04-14 04:46:26,-8.32,114.60,84.38,68,11,7.94

In [3]:
# Get the data types. (gmaps uses only integer or floating point data)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# 1. Assign the locations to an array of latitude and logitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of equal length of the locations array.

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

In [5]:
# Get the maximum temperature (remove negative temps)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of max temperatures

# 1. Assign the locations to an array of latitude and logitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. **Adjust center of map and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                   max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                   max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, 
                                   max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, 
                                   max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hilo,US,2020-04-14 04:46:26,19.73,-155.09,78.80,74,20,10.29
3,3,Rikitea,PF,2020-04-14 04:42:39,-23.12,-134.97,77.02,69,81,12.01
4,4,Negara,ID,2020-04-14 04:46:26,-8.32,114.60,84.38,68,11,7.94
5,5,Atuona,PF,2020-04-14 04:46:26,-9.80,-139.03,82.49,68,79,4.61
8,8,Busselton,AU,2020-04-14 04:46:27,-33.65,115.33,75.00,33,52,10.87
12,12,Chiredzi,ZW,2020-04-14 04:46:28,-21.05,31.67,75.24,48,0,4.12
15,15,Auki,SB,2020-04-14 04:46:29,-8.77,160.70,85.21,71,65,7.52
17,17,Vaini,TO,2020-04-14 04:46:29,-21.20,-175.20,78.80,78,40,8.05
23,23,Puerto Ayora,EC,2020-04-14 04:42:41,-0.74,-90.35,78.01,91,99,1.99
29,29,Port Augusta,AU,2020-04-14 04:46:33,-32.50,137.77,84.20,14,24,10.29

In [12]:
# Create DataFrame called hotel_df to store hotel names alongside city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

/Users/jacoblorenwade/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            City Country  Max Temp    Lat     Lng Hotel Name
2           Hilo      US     78.80  19.73 -155.09
3        Rikitea      PF     77.02 -23.12 -134.97
4         Negara      ID     84.38  -8.32  114.60
5         Atuona      PF     82.49  -9.80 -139.03
8      Busselton      AU     75.00 -33.65  115.33
12      Chiredzi      ZW     75.24 -21.05   31.67
15          Auki      SB     85.21  -8.77  160.70
17         Vaini      TO     78.80 -21.20 -175.20
23  Puerto Ayora      EC     78.01  -0.74  -90.35
29  Port Augusta      AU     84.20 -32.50  137.77

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use base URL to search for hotels in Paris.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

/Users/jacoblorenwade/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng                 Hotel Name
2           Hilo      US     78.80  19.73 -155.09        Hilo Hawaiian Hotel
3        Rikitea      PF     77.02 -23.12 -134.97             Pension Maro'i
4         Negara      ID     84.38  -8.32  114.60                 Jati Hotel
5         Atuona      PF     82.49  -9.80 -139.03                Villa Enata
8      Busselton      AU     75.00 -33.65  115.33    Observatory Guest House
12      Chiredzi      ZW     75.24 -21.05   31.67           The Nesbitt Arms
15          Auki      SB     85.21  -8.77  160.70                 Auki Motel
17         Vaini      TO     78.80 -21.20 -175.20        Keleti Beach Resort
23  Puerto Ayora      EC     78.01  -0.74  -90.35  Finch Bay Galapagos Hotel
29  Port Augusta      AU     84.20 -32.50  137.77  Majestic Oasis Apartments

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Heatmap of max temperatures

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))